@model WebApplication1.Models.HistoryModels

@{
    ViewBag.Title = "删除";
}

<div class="meet_content" style="height:600px;">
    <h3>Are you sure you want to delete this record?</h3>
    <h3>删除记录</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("会议室名称:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayName("预约人:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayName("参会人数:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peopel)
        </dd>

        <dt>
            @Html.DisplayName("预约人:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coustomer)
        </dd>

        <dt>
            @Html.DisplayName("开始时间:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayName("接收时间:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayName("备注:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tips)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color meet_btn" style="font-size:15px;">
            <input type="submit" value="删除" class="btn btn-default" />  |
            @Html.ActionLink("返回", "Index", "", new { @class = "btn btn-default" })
        </div>
    }
</div>